/* ==========================================================================
   General Styles
   ========================================================================== */

body {
  background-color: #F4F6F6;
}

::-moz-selection {
    /*background: red;*/
    text-shadow: none;
}

::selection {
    background: red;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Emoji Cards
   ========================================================================== */

header {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}

#emojis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
}

@media screen and (max-width: 662px){
  #emojis {
    grid-template-columns: 1fr 1fr;
  }
}

.emoji-card {
    max-width: 300px;
    display: inline-block;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);
    border-radius: 5px;
    padding: 20px;
    background-color: white;
}

.emoji-images img {
    width: 50px;
}



