/* ==========================================================================
   General Styles
   ========================================================================== */

::-moz-selection {
    /*background: red;*/
    text-shadow: none;
}

::selection {
    background: red;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Emoji Cards
   ========================================================================== */

#emojis {
    max-width: 1000px;
}

.emoji-card {
    border: 1px solid red;
    max-width: 300px;
    display: inline-block;
}

.emoji-images img {
    width: 50px;
}



